# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.env
# Ignore real env files but not example
.env.*
!.env.example

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
build/
dist/
*.egg-info/
